.site-heading {
    margin: 0;
}

.header {
    background-color: #E0E0E0;
    height: 240px;
    padding-top: 140px;
    padding-left: 90px;
}

.sidebar {
    background-color: #F0F0F0;
}

.content {
    background-color: #FAFAFA;
}

.sidebar-item-active,
.sidebar-item-active:hover {
    background-color: #E0E0E0;
    ;
    cursor: default;
}

.icon-active {
    fill: white;
}